/*=============================================
=            Variables            =
=============================================*/
// @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap");

$primary_color: #e51015;
$secondary_color: #153045;
// $grey_color: rgb(39, 39, 39);
$grey_color: rgb(39, 39, 39);
$light-text_color: #5c5c5c;
$light_bg: #e5f3ff;
$black_color: #100c08;
$section_dark: #f5f5f5;
$heading_font: "Josefin Sans", sans-serif !important;
$body_font: "Montserrat", sans-serif !important;
// $body_font_size: 1.17rem;
$body_font_size: 1rem;

// Head
#page {
    margin-top: 85px;
  }
  #main {
    min-height: 70vh;
  }
  #masthead {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 5;
  }